.form-group {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
  vertical-align: top;

  label {
    position: relative;
    display: block;
    margin-bottom: 7.5px;
    font-weight: 700;
    color: #383d3d;
  }

  input {
    width: 100%;
    padding: 10px 15px;
    font-weight: 700;
    color: #383d3d;
    background-color: #fff;
    border: 1px solid #bcbec0;
    border-radius: 3px;
    box-shadow: inset 0 0 4px rgba(12, 13, 13, 0.1);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: #7b7d7f;
      outline: none;
    }
  }
}
