<form [formGroup]="form" (submit)="save($event, form)">
  <div class="form-group">
    <label>Text</label>
    <textarea formControlName="text"></textarea>
  </div>
  <div class="form-group">
    <label>Font Size</label>
    <input type="number" formControlName="fontSize">
  </div>
  <div class="form-group">
    <label>Text Alignment</label>
    <text-alignment-options formControlName="textAlignment"></text-alignment-options>
  </div>
  <div class="form-group">
    <label>Whitespace Left Side</label>
    <input type="number" formControlName="whitespaceLeft">
  </div>
  <div class="form-group">
    <label>Whitespace Above</label>
    <input type="number" formControlName="whitespaceTop">
  </div>
  <div class="form-group">
    <label>Whitespace Right Side</label>
    <input type="number" formControlName="whitespaceRight">
  </div>
  <div class="form-group">
    <label>Whitespace Below</label>
    <input type="number" formControlName="whitespaceBottom">
  </div>
  <div class="form-group">
    <button type="submit" class="o-button o-button--primary">Save</button>
  </div>
</form>
