:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-wrap: wrap;

  .option {
    margin: 0 5px 10px;
    cursor: pointer;

    &.selected ::ng-deep .icon {
      background-color: #2dc38f;
    }

    .fa {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }
}
