:host {
  display: block;
}

.card {
  position: relative;
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(12,13,13,.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .actions {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

:host ::ng-deep .question {
  flex: 0 0 auto;
}

:host ::ng-deep .component {
  flex: 1 1 auto;
}
